<template>
  <q-page class="flex flex-center">
    <h5>Page Camera</h5>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageCamera',
});
</script>
