<template>
  <q-page class="flex flex-center">
    <h5>Homepage</h5>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageHome',
});
</script>
