<template>
  <q-layout view="lHh Lpr lFf">
    <q-header
    class="bg-white text-grey-10"
    bordered
    >
    <q-toolbar class="constrain">
        <q-btn
        to="/camera"
        class="large-screen-only q-mr-sm "
        icon="eva-camera-outline"
        size="18px"
        flat
        round
        dense
        />
        <q-separator vertical spaced class="large-screen-only"/>
        <q-toolbar-title class="text-grand-hotel text-bold">
          Quasargram
        </q-toolbar-title>

        <q-btn
        to="/"
        class="large-screen-only"
        icon="eva-home-outline"
        size="18px"
        flat
        round
        dense
        />
    </q-toolbar>

    </q-header>

    <q-footer
      class="bg-white small-screen-only"
      bordered
      >
        <q-toolbar>
          <q-toolbar-title>
            <q-tabs
              class="text-grey-10"
              active-color="primary"
              indicator-color="transparent"
            >
              <q-route-tab to="/" name="home" icon="eva-home-outline" />
              <q-route-tab to="/camera" name="camera" icon="eva-camera-outline" />
            </q-tabs>
        </q-toolbar-title>
        </q-toolbar>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

</script>

<style lang="sass">
  .q-toolbar
      height: 55px
  .q-toolbar__title
    text-align : center
      font-size: 30px
  .q-footer
    .q-tab__icon
      font-size : 30px
  .q-header
    .q-icon
      margin-top : 6px
</style>
